<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="True">
    <supportedRuntime version="v4.0" />"
  </startup>
  
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8000/ServiceModelSamples/service" binding="basicHttpBinding" contract="HoMIDom.HoMIDom.IHoMIDom" name="ConfigurationHttpHomidom"/>
    </client>
    
    <services>
      <service name="HoMIDom.HoMIDom.Server">
        <endpoint address="" binding="basicHttpBinding" contract="HoMIDom.HoMIDom.IHoMIDom"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="HoMIDom.HoMIDom.FileServer">
        <endpoint address="" binding="basicHttpBinding" 
                  bindingConfiguration="FileTransferServicesBinding"
                  contract="HoMIDom.HoMIDom.IFileServer" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding 
            name="FileTransferServicesBinding"
            closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            transferMode="Streamed"
            maxReceivedMessageSize="250000000" >
          <!--<security mode="None">
            <transport clientCredentialType="None"/>
          </security>-->
        </binding>
      </basicHttpBinding>
    </bindings>

  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
