<?xml version="1.0"?>
<configuration>
    <system.web>
      <webServices>
        <soapExtensionTypes>
          <add type="HomiTest.WebServicesTraceExtension, HomiTest" priority="1"/>
        </soapExtensionTypes>
      </webServices>
    </system.web>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
