<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WpfApplication1.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:7999/service" binding="basicHttpBinding" contract="HoMIDom.HoMIDom.IHoMIDom" name="ConfigurationHttpHomidom"/>
    </client>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <userSettings>
    <WpfApplication1.MySettings>
      <setting name="SavePassword" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="ViewProperty" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="SaveRealTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="AnimationDuration" serializeAs="String">
        <value>300</value>
      </setting>
    </WpfApplication1.MySettings>
  </userSettings>
</configuration>
