<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="" binding="basicHttpBinding" contract="HoMIDom.HoMIDom.IHoMIDom" name="ConfigurationHttpHomidom"/>
    </client>

    <services>
      <service name="HoMIDom.HoMIDom.Server">
        <endpoint address=""  binding="basicHttpBinding" bindingConfiguration="FileTransferServicesBinding"  contract="HoMIDom.HoMIDom.IHoMIDom" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service name="HoMIDom.HoMIDom.FileServer">
        <endpoint address="" binding="basicHttpBinding"
                  bindingConfiguration="FileTransferServicesBinding"
                  contract="HoMIDom.HoMIDom.IFileServer" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

    </services>


    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding
            name="FileTransferServicesBinding"
            closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            transferMode="Streamed"
            maxReceivedMessageSize="2147483647" >
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"  maxArrayLength="2147483647"   maxBytesPerRead="2147483647"  maxNameTableCharCount="2147483647" ></readerQuotas >

          <!--<security mode="None">
            <transport clientCredentialType="None"/>
          </security>-->
        </binding>

      </basicHttpBinding>
    </bindings>

  </system.serviceModel>
    <system.diagnostics>
        <sources>
            <!-- Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à écrire dans le journal des événements de l'application -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
