<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HoMIWpF.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:7999/service" binding="basicHttpBinding" contract="HoMIDom.HoMIDom.IHoMIDom" name="ConfigurationHttpHomidom" />
    </client>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <!-- Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à écrire dans le journal des événements de l'application -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="DB937BC2D44FF139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.74.0" newVersion="1.0.74.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <HoMIWpF.Settings>
      <setting name="ShowSoleil" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowTemperature" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ImgBackGround" serializeAs="String">
        <value></value>
      </setting>
      <setting name="Friction" serializeAs="String">
        <value>0.75</value>
      </setting>
      <setting name="EnableServiceTV" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SpeedTouch" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="PortSOAP" serializeAs="String">
        <value>7999</value>
      </setting>
      <setting name="IP" serializeAs="String">
        <value>localhost</value>
      </setting>
    </HoMIWpF.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>