<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <client>
      <endpoint
        address="http://localhost:8000/ServiceModelSamples/service"
        binding="basicHttpBinding"
        contract="HoMIDom.HoMIDom.IHoMIDom"
        name="ConfigurationHttpHomidom" />
    </client>
    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="HomidomServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
      </system.serviceModel>

</configuration>
