ErrorDocument 404 /homiweb/erreur404.html
RewriteEngine on

RewriteRule ^$ /homiweb/index.php  [L]

RewriteRule ^index.html$ /homiweb/index.php	[L]
RewriteRule ^connexion.html$ /homiweb/connexion.php	[L]
RewriteRule ^homiweb.html$ /homiweb/homiweb.php	[L]
RewriteRule ^erreur404.html$ /homiweb/homiweb.php?page=erreur&msg=erreur404	[L]

RewriteRule ^meteo.html$ /homiweb/homiweb.php?page=meteo	[L]
RewriteRule ^calendrier.html$ /homiweb/homiweb.php?page=calendrier	[L]

RewriteRule ^devices.html$ /homiweb/homiweb.php?page=devices	[L]
RewriteRule ^devices-([a-zA-Z]*).html$ /homiweb/homiweb.php?page=devices&action=$1	[L]
RewriteRule ^devices-([a-zA-Z]*)-([0-9]*).html$ /homiweb/homiweb.php?page=devices&action=$1&devices_id=$2	[L]
RewriteRule ^zones.html$ /homiweb/homiweb.php?page=zones	[L]
RewriteRule ^drivers.html$ /homiweb/homiweb.php?page=drivers	[L]
RewriteRule ^plans.html$ /homiweb/homiweb.php?page=plans	[L]
RewriteRule ^users.html$ /homiweb/homiweb.php?page=users	[L]
RewriteRule ^menu.html$ /homiweb/homiweb.php?page=menu	[L]
RewriteRule ^menu-ordre.html$ /homiweb/homiweb.php?page=menu&action=ordre	[L]
RewriteRule ^config.html$ /homiweb/homiweb.php?page=config	[L]
RewriteRule ^logs.html$ /homiweb/homiweb.php?page=logs	[L]
RewriteRule ^logs-purger.html$ /homiweb/homiweb.php?page=logs&action=purger	[L]
RewriteRule ^logs-purgerlogs.html$ /homiweb/homiweb.php?page=logs&action=purgerlogs	[L]
RewriteRule ^webcams.html$ /homiweb/homiweb.php?page=webcams	[L]
RewriteRule ^webcamsadmin.html$ /homiweb/homiweb.php?page=webcamsadmin	[L]
RewriteRule ^divers.html$ /homiweb/homiweb.php?page=divers	[L]
RewriteRule ^phpinfo.html$ /homiweb/homiweb.php?page=phpinfo	[L]
RewriteRule ^zone.html$ /homiweb/homiweb.php?page=zone	[L]
RewriteRule ^zone-([a-zA-Z0-9]*).html$ /homiweb/homiweb.php?page=zone&zones_id=$1	[L]
