section#all {
		position: relative;
		font-family:Helvetica neue, Helvetica, "arial Black", Gadget, sans-serif;
}

#Login_form {
	margin: auto;	
	margin-top : 2%; 
	width: 400px;
	border-style: solid;
	border-color: gray;
	background-color: #606060;
}


#Login_form h1, h2 {
	color: orange;	
	margin: auto;
	text-align: center;
}

#Login_form  h2 {
	width: 90%;
	font-size: 16pt;
	border: 2px;
	border-style: solid;
	border-color: gray;	
}
	
#Login_form img, #Login_form h1 {
  vertical-align: middle;
  display: inline-block;
  color : white ;

}


#ListeServeurs {
	width : 98%;
	height :90px;	
	margin :10px 0 10px 5px; 
	overflow:auto;
}
	
#ListeServeurs  img{
	width : 70px;
	height :70px;	
}

#ListeServeurs div {
	text-align: center;
	display : inline-table;
	margin : 2px;
	width : 70px;
	height :70px;	
	border : 2px;
	border-style : solid; 
	border-color : gray;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#ListeServeurs div:hover{
	border-style : solid; 
	border-color : Orange;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#ListeServeurs span {
	font-size: 7pt;
	display : block;	
	color : white;
}

#ListeServeurs img, #ListeServeurs span {
	margin : auto;
}

.labels {
	width: 300px;
	margin: auto; 
}

.labels div{
	margin: 5px; 
}

.labels label, .labels  input  {
		display: inline-block;
}

.labels   label {
	width: 80px;
	text-align: right;
	padding: 5px 0 5px 0;
	color: white;
}

.labels  input {
	border: 1px;
	border-style: solid;
	border-color: black;
	background-color:#A9A9A9;
}

.Bouton {
	margin: 10px 10px 10px 15%;
	width: 80px;
	height: 25px;
	padding: 2px; 
	text-align: center;
	color: white;
	border-radius : 7px;
	-webkit-border-radius : 7px;
	border-radius:7px;
	background-image:linear-gradient(#A9A9A9, black);
}

.BoutonCommande {
	text-align: center;
	margin: 5px 15% 0px 15%;
	display : inline;
	height : 32px; 
	width : 32px;
}

.BoutonsCommande  img {
	margin : auto;
	vertical-align : middle;
}
