/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	margin-left: 5px;
	margin-right: 5px;
	line-height: 1; 
	font-family:Helvetica neue, Helvetica, "arial Black", Gadget, sans-serif;
	background : transparent; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
/* Background Cover */
background: url(../images/fond-logo.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;		
} 
body article h4{ color : white}

body article {
	width: 250Px;
	height:100px;
	background-color : rgba(75,75,75,0.75);

 	border: 1px groove #777777;
	margin: 5px;
	display : inline-block; 
	z-index: 5;

 	-webkit-border-radius: 10px;
 	border-radius: 10px;
	
	box-shadow:5px 7px 7px rgba(95,95,95,1);
 	-webkit-box-shadow: 5px 7px 7px rgba(95,95,95,1);
}


footer {
	margin: auto;
	width:100%;	
	width:100%;	
	float: left;
	color : Red;
}


 footer a, footer a:hover  {
	float: left;
	font-size: 10pt;
	color: White;
	
}



header h1 {
color : rgba(230,30,30,0.75);
}


header span, header p {
	display:inline-block;
	font-size:small;
	color:white;
	text-align:center;
}
header li {
	font-size:large;
	color:black;

}

.col-xs-8 , .col-xs-2  {
color: White;
}


.box {
	background-color: rgba(190,190,190,0.75);
    border: 1px groove #777777;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 0 5px;
	margin: 0 5px 15px -5px;
}

#devices , .MenuZone {
	width: 95%;
	background-color:  rgba(0,124,0,1);
	margin-left: auto;
  	margin-right: auto;
	padding-bottom: 15px;
	background: transparent none;
}


h1 {
	font-size:32px;
}

h2 {
	margin-top: 15px;
	margin-bottom: 10px;
	text-align: center;
	font-size:24px;
	color: White;
	font-weight: bold;
}
h3 {	
	margin-top: 15px;
	text-align: center;
	font-size:18px;
	color: White;	
	text-decoration:underline;
}
h4 {	
	margin-top: 5px;
	text-align: center;
	font-weight: bold;
}

.align_image img {
	width:45px;
	height:45px;
	margin: 5% 8% 3% 2%; 
 
}
.align_image img, .align_image button {
	display : inline;
	vertical-align:middle;
}

.InfoSoleil { display : inline; margin-bottom : 10px;}
.InfoSoleil button { display : inline;	margin-right: 15px;  }

.ModalBoutons { margin-top : 10px; margin-bottom : 10px; }
.ModalBoutons button {  margin-right : 30px; }

#WidMeteo {
	height: 250px;
	width:  200px;
	background-color : rgba(75,75,75,0.75);
 	border: 1px groove #777777;
	margin: 5px;
	display : inline-block; 
	z-index: 5;
	
 	-webkit-border-radius: 10px;
 	border-radius: 10px;
	
	box-shadow:5px 7px 7px rgba(95,95,95,1);
 	-webkit-box-shadow: 5px 7px 7px rgba(95,95,95,1);

	text-align: center;	
	color : white;
	font-weight:bold;
}
#WidMeteo h1 {
	margin : 0;
	font-size: 12pt;
	background-color : #1E90FF;
}

#WidMeteo h2 {
	margin : 2px 0px 0px 5px;
	font-size: 9pt;
	text-align: left;	
	font-style: italic;
}

#WidMeteo img {
	margin-top: 5px; 
	height: 35px;
	width:  35px;
}


.MeteoPrev, .MeteoJour {
	margin-top: 5px;
}

.Info, .Prev  {
	display: inline-block;	
	margin : auto;
	width:  22%;
	min-height: 40%;
	}

.Info span {
	margin : 2px;
	font-size: 11pt;
}

.Info  h3,.Prev h4 {
	margin : 0;
	margin-bottom: 2px;
	font-size: 11pt;
}

.TempMax,  .TempMin {
	display: block;	
	
	margin : auto;
	margin-left: 1px;
	margin-bottom: 2px;
	font-size: 10pt;
	font-style : italic;
	color : #0723BB;
}

.TempMax {
	 color: yellow;
}

#PartCentrale { padding-left: 5px;
    padding-right: 5px;}


#zones  button img {width:50px;height:50px; }
#zones  button {margin-top : 5px; margin-left : 5% ; width : 90% } 

#zones button:focus {
    background-color: #D9534F;
	color : white;
}

#Colmid {margin:  10px;}

#CloseZones {float : left; margin-top : 5px; margin-left : -5px; z-index : 20}

#modalLogin  h1, #modalApropos h1 { color: red; font-weight:bold; text-align: center; border: 1px groove #777777;
-webkit-border-radius: 10px; border-radius: 10px; background-color:  rgba(190, 190, 190, 0.75); 	}

#modalLogin  .modal-body , #ListeServeurs { background-color: #606060 ; }


#modalApropos p   { color : black; display:table; margin:0 auto; margin-top : 10px;} 
#modalApropos h2 { color : red} 
#modalApropos img { display:table; margin:0 auto; margin-top : 10px;} 


#ListeServeurs  img {width : 50px; height :50px;}

#ListeServeurs {width : 98%;	height :90px;	margin :10px 0 10px 5px; overflow:auto;}

#ListeServeurs div {
	text-align: center;
	display : inline-table;
	margin : 2px;
	width : 70px;
	height :70px;	
	border : 2px;
	border-style : solid; 
	border-color : gray;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#ListeServeurs div:hover{
	border-style : solid; 
	border-color : red;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#ListeServeurs span {
	font-size: 7pt;
	display : block;	
	color : white;
}

#ListeServeurs img, #ListeServeurs span {
	margin : auto;
}

.ListeChamp {
    border: 3px solid white;
    border-radius: 5px;
    margin: 5px;
}

.action button {margin : 10px 20px; min-width : 150px; color: black; }
.action button span { color: black; }

.commandes button {margin-left : 35%; background-image:linear-gradient(to bottom  , white,  red); 	vertical-align:middle;}
.commandes button:hover { background: red }

.input-group   {margin : 10px }
.input-group-addon { min-width : 100px; color:darkred ; font-weight:bold;}

#events { overflow:auto}
