/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

  
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, hgroup, menu, nav, section {
	display: inline;
}
body {
	margin-left: 5px;
	margin-right: 5px;
	line-height: 1; 
	font-family:Helvetica neue, Helvetica, "arial Black", Gadget, sans-serif;
	background : transparent; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
/* Background Cover */
background: url(../images/fond-logo.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;		
} 
body article h4{ color : white}

body article {
	width: 250Px;
	height:100px;
	
	width : 15em;
	height : 6em;
	background-color : rgba(75,75,75,0.75);

 	border: 1px groove #777777;
	margin: 5px;
	display : inline-block; 
	z-index: 5;

 	-webkit-border-radius: 10px;
 	border-radius: 10px;
	
	box-shadow:5px 7px 7px rgba(95,95,95,1);
 	-webkit-box-shadow: 5px 7px 7px rgba(95,95,95,1);
}


footer {
	margin: auto;
	width:100%;	
	width:100%;	
	float: left;
	color : Red;
}


 footer a, footer a:hover  {
	float: left;
	font-size: 10pt;
	color: White;
	
}

.box {
	background-color: rgba(190,190,190,0.75);
    border: 1px groove #777777;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 0 5px;
	margin: 0 5px 15px -5px;
}

#devices , .MenuZone {
	background-color:  rgba(0,124,0,1);
	padding-bottom: 15px;
	background: transparent none;
}

h1 {font-size:32px;}
h2 {margin-top: 15px;margin-bottom: 10px;text-align: center;font-size:20px;color: White;font-weight: bold;}
h3 {	margin-top: 15px;text-align: center;font-size:16px;color: White;	text-decoration:underline;}
h4 {	margin-top: 5px;text-align: center;font-weight: bold;}

.align_image img {
	width:45px;
	height:45px;
	margin: 2%; 
 
}
.align_image img, .align_image button {
	display : inline;
	vertical-align:middle;
}

.HeaderInfo > div   {display : inline-block; margin-right : 10px; margin-left : 10px;}

.HeaderGauche {min-width : 10em;}
.HeaderCentre {min-widthwidth : 40em;}
.HeaderCentre h1 { color : rgba(230,30,30,0.75);}
.HeaderDroit {vertical-align:top;margin-top : 1.5em; margin-left : 3em;}
.HeaderDroit button {margin-right: 1.5em;  vertical-align: top; }
.HeaderDroit span{	display:inline-block;	font-size:small;	color:white;	text-align:center;  width : 5em  }


.ModalBoutons {display : inline;   margin-left : 2em; }
.ModalBoutons button { margin-right : 2em; }
.ModalBoutons button span { vertical-align:middle; }

.contentInfo, .HeaderInfo {width : 100% ;margin : 0.3em;}
.contentInfo > div   {margin : 0.5em; }

.PartGauche  { margin : 0.3em;
				background : -webkit-linear-gradient(0deg, black, grey); /* For Safari 5.1 to 6.0 */
				background: -o-linear-gradient(0deg, black, grey); /* For Opera 11.1 to 12.0 */
				background: -moz-linear-gradient(0deg, black, grey); /* For Firefox 3.6 to 15 */
				background: linear-gradient(0deg, black, grey); /* Standard syntax (must be last) */
}
.PartGauche   button {padding : 0.3em; margin-right : 2em ;  width : 8em; }
.PartGauche   button:focus { background-color: #D9534F;color : white;}
.PartGauche   img { width : 30px; height : 30px; margin-right : 5px; }

/*
.PartCentrale { min-width : 70em}
.PartDroite { min-width : 30em}
*/





#WidMeteo {
	width : 15em;
	height : 17em;
	background-color : rgba(75,75,75,0.75);
 	border: 1px groove #777777;
	margin: 5px;
	display : inline-block; 
	z-index: 5;
	
 	-webkit-border-radius: 10px;
 	border-radius: 10px;
	
	box-shadow:5px 7px 7px rgba(95,95,95,1);
 	-webkit-box-shadow: 5px 7px 7px rgba(95,95,95,1);

	text-align: center;	
	color : white;
	font-weight:bold;
}
#WidMeteo h1 {
	margin : 0;
	font-size: 12pt;
	background-color : #1E90FF;
}

#WidMeteo h2 {
	margin : 2px 0px 0px 5px;
	font-size: 9pt;
	text-align: left;	
	font-style: italic;
}

#WidMeteo img {
	margin-top: 5px; 
	height: 35px;
	width:  35px;
}


.MeteoPrev, .MeteoJour {
	margin-top: 5px;
}

.Info, .Prev  {
	display: inline-block;	
	margin : auto;
	width:  22%;
	min-height: 40%;
	}

.Info span {
	margin : 2px;
	font-size: 11pt;
}

.Info  h3,.Prev h4 {
	margin : 0;
	margin-bottom: 2px;
	font-size: 11pt;
}

.TempMax,  .TempMin {
	display: block;	
	
	margin : auto;
	margin-left: 1px;
	margin-bottom: 2px;
	font-size: 10pt;
	font-style : italic;
	color : #0723BB;
}

.TempMax {
	 color: yellow;
}



#zones  button img {width:50px;height:50px; }
#zones  button {margin-top : 5px; margin-left : 5% ; width : 90% } 

#zones button:focus {
    background-color: #D9534F;
	color : white;
}

#Colmid {margin:  10px;}

#CloseZones {float : left; margin-top : 5px; margin-left : -5px; z-index : 20}

#modalLogin  h1, #modalApropos h1 { color: red; font-weight:bold; text-align: center; border: 1px groove #777777;
-webkit-border-radius: 10px; border-radius: 10px; background-color:  rgba(190, 190, 190, 0.75); 	}

#modalLogin  .modal-body , #ListeServeurs { background-color: #606060 ; }


#modalApropos p   { color : black; display:table; margin:0 auto; margin-top : 10px;} 
#modalApropos h2 { color : red} 
#modalApropos img { display:table; margin:0 auto; margin-top : 10px;} 


#ListeServeurs  img {width : 50px; height :50px;}

#ListeServeurs {width : 98%;	height :90px;	margin :10px 0 10px 5px; overflow:auto;}

#ListeServeurs div {
	text-align: center;
	display : inline-table;
	margin : 2px;
	width : 70px;
	height :70px;	
	border : 2px;
	border-style : solid; 
	border-color : gray;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#ListeServeurs div:hover{
	border-style : solid; 
	border-color : red;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#ListeServeurs span {
	font-size: 7pt;
	display : block;	
	color : white;
}

#ListeServeurs img, #ListeServeurs span {
	margin : auto;
}

.ListeChamp {
    border: 3px solid white;
    border-radius: 5px;
    margin: 5px;
}

.action button {margin : 10px 20px; min-width : 150px; color: black; }
.action button span { color: black; }

.commandes button {margin-left : 35%; background-image:linear-gradient(to bottom  , white,  red); 	vertical-align:middle;}
.commandes button:hover { background: red }

.input-group   {margin : 10px }
.input-group-addon { min-width : 100px; color:darkred ; font-weight:bold;}

#events { overflow:auto}

@media screen and (max-width: 900px) {
	.PartCentrale      {min-width: 2em ;}
	.HeaderInfo > div {width : auto;  }
	.HeaderGauche   {min-width: 0.5 em ;}
   .HeaderGauche h2 { font-size: 10pt;}
   .HeaderGauche h3 { font-size : 8pt;}
   .HeaderCentre  h1{ font-size: 12pt; }
   .HeaderCentre  h1 small{ display : none}
   .HeaderCentre  img{ width : 50px;	height : 50px;}
    /* .HeaderDroit {  background : pink;} */
   .HeaderDroit  img { width : 15px;	height :15px;	}
   .InfoSoleil { margin-bottom : 10px; }
   .ModalBoutons {display : none;}
   .contentInfo div { display: block;} 
	#zonesTitle {font-size : 10pt; }
	.PartGauche , .PartCentrale, .PartDroite { width : 100% ; margin-left : 0.2em; margin-right : 0.4em;}
	
	#zones img { display : none ;}
	.align_image  img {  width : 30px;	height : 30px;  }
	.devices h4 {font-size : 10pt;}
	.PartGauche button {  margin : 0px; font-size : 10pt; color : white;}  /*  background-color :gray;  */
	.align_image img, .align_image div { display : inline-block; vertical-align: baseline;}
	.PartGauche img { display : none }
   }


@media screen and (min-width: 900px) and (max-width:1279px) {

	.HeaderInfo > div {margin-left : 0px}
	.HeaderGauche      {min-width: 6em;}
	.HeaderGauche h1 { font-size: 14pt;}
	.HeaderGauche h2 { font-size: 12pt;}
	.HeaderGauche h3 { font-size : 10pt;}
	.HeaderCentre  h1 small{  font-size: 10pt;}
	 /* .HeaderDroit {  background : green;} */
	.HeaderDroit span{   margin-right : 5px;}
	.ModalBoutons button { margin-right : 5px;}
	.InfoSoleil { margin-right : 5px; }
	.HeaderCentre  .align_image img {margin-left : 2%;margin-right : 2%;}
	.HeaderCentre small {display : none}
		
	.PartCentrale {min-width : 6em}

   } 
@media screen and (min-width: 1290px) and (max-width:1360px) {
   .HeaderGauche      {min-width: 6em;}
   .HeaderGauche h2 { font-size: 12pt;}
   .HeaderGauche h3 { font-size : 10pt;}
   /*.HeaderDroit {  background : yellow;} */
   .PartGauche , .PartCentrale, .PartDroite { width : 100% ; padding-left: 1.5em; padding-right: 1.5em}
   .contentInfo {display : block;}

   }  
   